body {
  margin: 0;
  display: flex;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
