nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
    height: 10vh;
}

.nav{
    display: flex;
}

.nav > a{
    display: flex;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.nav > a:hover{
    transform: scale(1.10)
}

.pageTitle{
    margin-left: 50px;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(70, 255, 211);
    font-family: 'Poppins', sans-serif;
}

.cart{
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border: 1px solid black;
    margin-left: 20px;
}

.cartButton:hover{
    transform: scale(1.05);
}

.cartOpen{
        position: fixed;
        z-index: 1;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20vw;
        height: 100%;
        padding: 40px;
        background-color: rgb(255, 255, 255);
        font-size: 3rem;
        transition: right 0.85s ease-in-out 0s;
        right: 0;
}

.cartOpenBackground{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    transition: left 0.85s ease-in-out 0s;
    left: 0px;
}

.numberCartItems{
    position: absolute;
    top: 52px;
    right: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    background-color: rgb(255, 153, 153);
    font-size: 16px;
    font-weight: bold;
}